
* { margin: 0; box-sizing: border-box;}
.title {margin: 10px 0 10px 0;}


.td-row,
.td-row td {
    border: 0px solid white;
    padding: 8px;
    color: white;
    background-color: #424250;
}

.thead-moda,
.thead-moda th {
    border: 0px solid white;
    padding: 8px;
    color: white;
    background-color: #BB86FC;
}
.thead-home,
.thead-home th {
    border: 0px solid white;
    padding: 8px;
    color: white;
    background-color: #00C4B4;
}
